
/* ----COLORS---- */

$color-background-purple:#927bc1;
$color-background-light-blue: #51ddfc;
$color-background-lighter-red: #e4757a;
$color-background-lighter-green: #63cc82;
$color-background-orange: #fd7856;

/* ----MEDIA QUERY SIZES---- */

$screen-breakpoint: 768px;

