
/* ----COLORS---- */

$color-background-purple:#927bc1;
$color-background-light-blue: #51ddfc;
$color-background-lighter-red: #e4757a;
$color-background-light-green: #63cc82;
$color-background-orange: #fd7856;
$color-lighter-green: #58e1c1;
$weight-font-300: 300;
/* ----MEDIA QUERY SIZES---- */

$screen-breakpoint: 768px;

