/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-background-light-blue;
  }
  
  .error {
    background-color: $color-background-lighter-red;
  }
  
  .info {
    background-color: $color-background-purple;
  }
  
  .success {
    background-color: $color-background-light-green;
  }
  
  .warning {
    background-color: $color-background-orange;
  }